body {
  font-family: 'Open Sans', sans-serif;
}

span {
  font-size: 200%;
  margin-bottom: 15px;
  font-family: 'Roboto Slab', serif;
  display: inline;
}

.idea-title {
  color: #00A79D;
}

.idea-box {
  color: #6D6E71;
}

.inputcontainer{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: auto;
  text-align: center;
  background-color: #E5F3F2;
  font-family: 'Roboto Slab', serif;
}

input {
  height: 25px;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.save {
  height: 35px;
  width: 60%;
  margin: auto;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.save:hover {
  background-color: #045E55;
  color: #FFFFFF;
}

.ideacontainer {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.search-idea {
  width: 99%;
}

.template {
  padding-bottom: 10px;
  border-bottom: 2px solid #D1D3D4;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
}

h3 {
  font-size: 30px;
  float: left;
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  margin-top: 10px;
  width: 70%;
}

.delete-button {
  position: absolute;
  right: 10px;
  width: 20px;
  top: 5px;
}

.bodyhtml {
  display: block;
  clear:both;
  color: #939598;
  padding-top: 15px;
  padding-bottom: 60px;
}


.thumbsUp {
  background-image: url("images/upvote.svg");
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.thumbsUp:hover {
  background-image: url("images/upvote-hover.svg");
}

.thumbsDown {
  background-image: url("images/downvote.svg");
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.thumbsDown:hover {
  background-image: url("images/downvote-hover.svg");
}

.ranking {
  position: absolute;
  bottom: 15px;
  left: 80px;
  color: #6D6E71;
}

.delete-button {
  background-image: url("images/delete.svg");
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.delete-button:hover{
  background-image: url("images/delete-hover.svg");
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  span {
    font-size: 400%;
  }

  input{
    width: 80%;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .title {
    height: 40px;
  }

  .body {
    height: 80px;
  }

  .save {
    height: 70px;
    width: 80%;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .ideacontainer {
    width: 80%;
  }

  .search-idea {
    height: 50px;
    font-size: 30px;
  }

  h3 {
    font-size: 50px;
  }

  .bodyhtml {
    font-size: 30px;
  }

  .ranking {
    font-size: 30px;
    left: 130px;
    bottom: 20px;
  }

  button {
    padding: 25px;
  }

  .thumbsDown {
    left: 60px;
  }
}
